= simple_form_for person do |f|
  .fields
    .about
      = f.input :fio
      = f.input :birth_date
      = f.input :about, input_html: {class: :bigger}
      = f.input :address
    .prison_data
      = f.input :status
      = f.input :accused_for, input_html: {class: :smaller}
      = f.input :imprisoned_date
      = f.input :release_date
      = f.input :accounts
      = f.input :contacts
  .controls
    = f.submit "Сохранить"