= div_for person do
  = link_to person do
    - if person.photos.any?
      = image_tag person.photos.first.attachment(:medium)
  %h3
    = link_to person.fio, person
    %small
      - if can? :update, person
        = link_to edit_person_path(person) do
          %i.icon-edit
    %br
    %small
      = person.status
