= content_for :second_header do
  %h1 Заключенные

= content_for :second_navigation do
  %ul
    %li
      - if can? :create, [Person]
        = link_to new_person_path do
          %i.icon-male
          Добавить заключенного

.people_page
  .people-index
    - people.each do |person|
      = render person
  .aside
    .filter
      - Person.statuses_count.each do |status, count|
        %h3
          = link_to people_path(status: status) do
            = "#{status} • #{count}"
    .posts
      %h1 Новости
      - Post.all.last(5).each do |post|
        = div_for post do
          %h4
            %small
              = post.created_at.strftime("%d.%m.%Y")
            = link_to post.name, post
          - if post.people.any?
            %small
              %i.icon-tag
              = post.people.map{|p| link_to p.fio, p}.join(", ").html_safe
      %br
      %h3
        = link_to "Все новости...", posts_path
