
= content_for :second_header do
  %h1
    = person.fio
= content_for :second_navigation do
  %ul
    - if can? :edit, person
      %li
        = link_to edit_person_path(person) do
          %i.icon-edit-sign
          Редактировать
      %li
        = link_to person_photos_path(person) do
          %i.icon-picture
          Фотографии

.person
  .photos
    %section#person_photos
      - person.photos.each do |photo|
        - if photo.persisted?
          - if photo.main?
            = image_tag photo.attachment.url(:medium), class: :main
      .thumbs
        - person.photos.thumbs.each do |photo|
          = image_tag photo.attachment.url(:thumb)

  .about
    .accused_for.notice
      = markdown! person.accused_for
    = markdown! person.about
  .right_column
    .accounts
      %h1 Как помочь
      = markdown! person.accounts
    .contacts
      %h1 Связаться
      = markdown! person.contacts

    - if person.curations.any?
      .curators
        %h1 Кураторы
        - person.curations.each do |curation|
          = curation.user.email

- if can? :create, [Curation]
  = link_to "Добавить куратора", new_person_curation_path(person)