= content_for :page_title do
  - if person
    Новости: #{person.fio}
  - else
    Новости
= content_for :second_header do
  %h1
    - if person
      Новости: #{person.fio}
    - else
      Новости
    \/
    %small
      = link_to posts_path(:rss) do
        Подписаться
        %i.icon-rss

= content_for :second_navigation do
  %ul
    - if can? :create, Post
      %li
        = link_to new_post_path do
          %i.icon-edit
          Добавить новость
.posts_page
  .posts
    - if posts.blank? and person
      %h1
        Нет новостей, связанных с этим человеком
    - posts.each do |post|
      = div_for post do
        %h1
          = link_to post.name, post
          %small
            = post.created_at.strftime("%d/%m/%Y")
        = markdown! post.short_body
        = render partial: "connections", locals: {post: post}
    %h4
      = paginate posts
  .people
    %h1 Люди в новостях
    - Person.all.each do |person|
      = div_for person, class: :person_caption do
        - if person.main_photo
          %span.thumb
            = image_tag person.main_photo.attachment.url(:thumb)
        %span.name
          = link_to person_posts_path(person) do
            = person.fio
            •
            = person.posts.count
