!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{name: "description", content: content_for(:description)}
    %meta{name: "keywords", content: content_for(:keywords)}
    %title
      = page_title(:app_name => 'ABC-Russia / АЧК-Россия', :page_title_symbol => :page_title, :separator => " | ")

    = stylesheet_link_tag :application, :media => 'all'
    %link{href: "http://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin,cyrillic-ext", rel: "stylesheet", type: "text/css"}/
    = csrf_meta_tags
  %body{class: body_class}
    %div#site_header
      .left
        %ul
          %li= link_to "Новости", posts_path
          %li= link_to "Контакты", page_path("contacts")
          %li= link_to "О нас", page_path("about")
      .center
        = link_to root_url do
          = image_tag "logo.jpg"
      .right
        %ul
          - if signed_in?
            %li
              = link_to sign_out_path, :method => :delete do
                %i.icon-signout
            - if can? :read, [User]
              %li
                = link_to "Пользователи", members_path
          - else
            %li
              = link_to "Зарегистрироваться", sign_up_path
              или
              = link_to "Войти", sign_in_path

    - if content_for? :second_header
      .second_header
        .wrapper
          .heading
            = content_for :second_header
          .navigation
            = content_for :second_navigation
    .site_wrapper
      = render 'flashes'
      = yield
      = render 'javascript'